<IfModule mod_rewrite.c>
    # This RewriteBase is specific to my server's architecture.
    # Remove it if it causes you any trouble.
    RewriteBase /cv/
    ###########################################################

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
